*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Montserrat;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._conteiner {
    max-width: 1046px;
    margin: 0 auto;
}
/* -----------------------------------------*/
.header {
    
}

.header__container {
}

.header__logo {
}

.header__menu {
}

.menu {
}

.menu__list {
}

.menu__item {
}

.menu__link {
}

