*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    background: #fafafa;
    font-size: 14px;
    color: #252b42;
    font-weight: 500;
    font-family: Montserrat;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    object-fit: cover;
}
/* ---HEADER--------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) { 
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header__menu {
    margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) { 
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width: 767px) { 
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 479px) { 
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    
}

.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
    
}

.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 479px) { 
    .menu__link {
        font-size: 18px;
    }
}

/* ---PAGE-----------------------------------*/
.page {
    flex: 1 1 auto;
}

.page__main-block {
}

.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
}

.page__advantages {
}

.page__practice {
}

.page__about {
}

.page__clients:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.page__subscribe {
}
.page__support {
}


/* ---HEADER-BLOCK-----------------------------------*/
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header-block__title {
    line-height: 142%;
    font-weight: 700;
    font-size: 40px;
}
.header-block__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
    color:#737373;
    line-height: 142%;
}

@media (max-width: 992px) {
    .header-block__title {
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .header-block__title {
        font-size: 30px;
    }
}


/* ---FOOTER--------------------------------------*/
.footer {

}

/* ---MAIN-BLOCK--------------------------------------*/
.main-block {
    position: relative;
}

.main-block__container {
}

.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 390px;
}
@media (max-width: 992px){
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}
@media (max-width: 479px){
    .main-block__body {
        padding: 115px 0px 160px 0px;
    }
}

/*---объекты первого уровня вложенности--и любой тег-*/
.main-block__body > *:not(:last-child){
    margin: 0px 0px 35px 0px;
}

.main-block__title {
    font-size: 58px;
    line-height: 137%;
    letter-spacing: 0.2px;
    font-weight: 800;
}
@media (max-width: 479px){
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    color:#737373;
    font-size: 20px;
    line-height: 150%;
}
@media (max-width: 479px){
    .main-block__text {
        color: #585757;
    }
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    padding: 5px 36px;
    margin: 10px 0;
}
@media (max-width: 479px){
    .main-block__button {
        flex: 1 1 100%;
    }
}
@media (min-width: 479px){
.main-block__button:not(:last-child){
    margin-right: 10px;
}
}
.main-block__button_orange {
    background: #ff7b47;
    color: #fff;
}
.main-block__button_border {
    color: #0d5c63;
    border: 1px solid #0d5c63;
}
.main-block__image {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
}

@media (max-width: 1300px){
    .main-block__image img {
        object-position: right;
    }
}
@media (max-width: 992px){
    .main-block__image {
        opacity: 0.5;
    }
}

/* ---SERVICES--------------------------------------*/
.services {
    
}

.services__container {
}

.services__body {
    
}
@media (min-width: 670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px;
    }
}

.services__column {
    flex: 0 1 33.333%;
}

@media (min-width: 670px) {
    .services__column {
        padding: 0px 15px;
    }
}
@media (max-width: 992px){
    .services__column {
        flex: 0 1 50%;
    }
    .services__column:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
    .services__column:last-child {
        flex: 1 1 100%;
    }
}

.services__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 35px;
}
@media (max-width: 479px) {
    .services__item {
        padding: 25px;
    }
}

.item-service_green {
    background-color: #0D5C63;
}

.item-service_green .item-service__title {
    color: #fff;
}

.item-service_green .item-service__text {
    color: #fff;
}

.item-service > *:not(:last-child){
    margin: 0px 0px 10px 0px;
}

.item-service__icon {
}

.item-service__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}

.item-service__text {
    color: #737373;
    line-height: 142%;
}

/* ---ADVANTAGES--------------------------------------*/
.advantages {
    padding: 80px 0;
}

@media (max-width: 992px) {
    .advantages {
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .advantages {
        padding: 40px 0;
    }
}

.advantages__container {
}
.advantages__header {
    margin: 0px 0px 50px 0px;
}

@media (max-width: 767px) {
    .advantages__header {
        margin: 0px 0px 25px 0px;
    }
}

.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
}
.advantages__column {
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}

@media (max-width: 1020px) {
    .advantages__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 560px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}

.advantages__item {
    background-color: #fff;
    padding: 35px;
    font-weight: 700;
    text-align: center;
}
.advantages__item > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages__value {
    font-size: 40px;
    line-height: 142%;
}
.advantages__text {
    letter-spacing: 0.1px;
    color: #737373;
    font-size: 16px;
    line-height: 150%;
}

/* ---PRACTICE--------------------------------------*/
.practice {
    padding: 125px 0px 80px 0px;
    
}
@media (max-width: 993px) {
    .practice {
        padding: 40px 0px 80px 0px;
    }
}
@media (max-width: 767px) {
    .practice {
        padding: 0px 0px 40px 0px;
    }
}

.practice__container {
}
.practice__header {
    margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
    .practice__header {
        margin: 0px 0px 25px 0px;
    }
}

.practice__body {
    margin: 0px -20px -30;
    display: flex;
    flex-wrap: wrap;
}
.practice__column {
    padding: 0px 20px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}
@media (max-width: 1040px) {
    .practice__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 630px) {
    .practice__column {
        flex: 0 1 100%;
    }
}

.practice__item {
    
}
.item-practice {
    background-color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}

.item-practice__link {
    color: inherit;
    display: inline-block;
}

.item-practice__link:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.item-practice__link:hover {
    text-decoration: underline;
}

.item-practice__title {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}

.item-practice__text {
    color: #737373;
    line-height: 142%;
}
.item-practice__image {
    display: block;
    padding: 0px 0px 60% 0px;
}

/* ---ABOUT-----------------------------------*/
.about {
    background: #ffffff;
    padding: 80px 0px 130px 0px;
}

.about__container {
}

.about__header {
    margin: 0px 0px 100px 0px; 
}

.about__body {
    display: flex;
    align-items: flex-start;
}

.about__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
}
.about__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.about__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 121px;
}

.about__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
}

.about__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.about__text {
    color: #737373;
    line-height: 142%;
}

.about__items {
    
}

.about__top:not(:last-child) {
    margin: 0px 0px 50px 0px;
}

.about__item {
}

.about__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

.item-about {
    display: flex;
}
.item-about__icon {
    flex: 0 0 32px;
}
.item-about__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
}
.item-about__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.item-about__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
}

.item-about__text {
    color: #737373;
    white-space: nowrap;
    line-height: 142%;
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 1080px) {
    .about__content {
        padding: 0px 0px 0px 50px;
    }
}

@media (max-width: 950px) {
    .about {
        padding: 50px 0px 50px 0px;
    }
    .about__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .about__title {
        font-size: 24px;
    }
    .about__content {
        padding: 0px 0px 0px 0px;
    }
    .about__video {
        padding: 0px 0px 56.25% 0px;
    }
    .about__video:not(:last-child) {
        margin: 50px 0px 0px 0px;
    }
    .about__header {
        margin: 0px 0px 30px 0px;
    }
}
@media (max-width: 767px) {
    .about {
        padding: 20px 0px 50px 0px;
    }
    .about__top:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
    .about__video:not(:last-child) {
        margin: 30px 0px 0px 0px;
    }
}

/* ---CLIENTS-----------------------------------*/
.clients {
    padding: 50px 0px;
}
@media (max-width: 767px) {
    .clients {
        padding: 30px 0px;
    }
}

.clients__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.clients__item {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}

.clients__item img {
    max-width: 100%;
}

/* ---SUBSCRIBE-----------------------------------*/
.subscribe {
    position: relative;
    padding: 0px 0px 20px 0px;

}

.subscribe:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0;
    background-color: #252b42;
}

.subscribe__container {
}

.subscribe__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    align-items: center;
    background-color: #17213c;
    border-radius: 2px;
}
@media (min-width: 1070px) {
    .subscribe__body {
        margin: 0px 30px;
    }
}

.subscribe__title {
    color:#fff;
    font-size: 24px;
    line-height: 133%;
    font-weight: 700;
    letter-spacing: 0.1px;
}
@media (max-width: 810px) {
    .subscribe__title {
        margin: 0px 0px 20px 0px;
    }
    .subscribe__body {
        margin: 0px -15px;
        padding: 20px 15px;
    }
}
@media (min-width: 810px) {
    .subscribe__title {
        max-width: 266px;
    }
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }
}

.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}

.subscribe__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    background-color: #f9f9f9;
    color: #737373;
    padding: 0px 20px;
    border: 1px solid #e6e6e6;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}

.subscribe__input:focus {
    color: #000;
}

.subscribe__button {
    background: #ff7b47;
    border: 1px solid #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#fff;
    padding: 0px 22px;
}
@media (max-width: 810px) {
    .subscribe__input {
        padding: 0px 15px;
    }
    .subscribe__button {
        padding: 0px 15px;
    }
}

/* ---SUPPORT-----------------------------------*/
.support {
}

.support__container {
}

.support__header {
}

.support__items {
}

.support__item {
}

.item-support {
}

.item-support__icon {
}

.item-support__emails {
}

.item-support__email {
}

.item-support__label {
}

.item-support__buttom {
}